body{
    background-color:rgb(224, 165, 88);
}

#header{
    width: 100vw;
    background-color:rgb(224, 165, 88);
}


#navbar{
    width: 100vw;
    background-color: rgb(160, 80, 80);
    position: sticky;
    top: 50;
}

.Text{
    color:rgb(160, 80, 80)
}
#Main-Text{
    width: 100vw;
    font-size: 50px;
}